.photo-grid {
    max-width: 288px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-template-rows: auto;
    grid-gap: 12px;
    padding-top: 64px;
    justify-items: center;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fill, 325px);
        grid-gap: 16px;
        padding-top: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 14px;
        padding-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(auto-fill, 284px);
        grid-gap: 16px;
    }
}