.lead {
    max-width: 894px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
    }
}