.cover__subtitle {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: center;
    margin: 16px auto 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    text-align: center;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin: 32px auto 0;
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}