.place__link-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin-top: 12px;
    transition: opacity .5s ease;
    text-underline-offset: 4px;
}

.place__link-name:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .place__link-name {
        text-underline-offset: 5px;
    }
}

@media screen and (min-width: 1024px) {
    .place__link-name {
        margin-top: 8px;
    }
}