.intro__text {
    font-weight: 400;
    font-size: 16px;
    margin: 40px 0 0 0;
    line-height: 163%;
}

@media screen and (min-width: 768px) {
    .intro__text {
        line-height: 161%;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        line-height: 162%;
    }
}