.header__lang-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 16px 0 7px 0;
}


@media screen and (min-width: 768px) {
  .header__lang-links {
    margin-right: 30px;
    margin-right: calc(24px - 18px);
    margin-top: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang-links {
    margin-top: 46px;
    margin-right: calc(48px - 18px);
  }
}